h2  {
  text-align: center;
  font-size: 10vh;
}

h3 {
  font-size: 3vh;
  color: lightgray;
  text-align: center;
}

h4 {
  font-size: 15px;
  color: lightgreen;
  text-transform: uppercase;
  text-align: center;
}

.Traits {
  font-size: 1.8vh;
}


/* SIGN COLORS */
.Sagittarius {
  color: #7811d9;
}

.Libra {
  color: #ed47ae;
}

.Pisces {
  color: #81d433;
}

.Cancer {
  color: #e3e3e3;
}

.Capricorn {
  color: #736748;
}

.Aries {
  color: #e81c1c;
}

.Virgo {
  color: #505e2a;
}

.Scorpio {
  color: black;
}

.Leo {
  color: #ba9606;
}

.Taurus {
  color: #0fc908;
}
/* ~~~~ */


/* HOVER */
.Edvard:hover, .GeorgesSeurat:hover {
  color: white;
  background-color: #7811d9;
  transition: 0.8s;
}

.Caravaggio:hover {
  color: white;
  background-color: #ed47ae;
  transition: 0.8s;
}

.Michelangelo:hover {
  color: white;
  background-color: #81d433;
  transition: 0.8s;
}

.MarcChagall:hover {
  color: white;
  background-color: #e3e3e3;
  transition: 0.8s;
}

.Basquiat:hover {
  color: white;
  background-color: #736748;
  transition: 0.8s;
}

.VincentvanGogh:hover {
  color: white;
  background-color: #e81c1c;
  transition: 0.8s;
}
/* ~~~~ */

