body {
  background-color: #e0e0ca;
}

/* NAME */
h2  {
  font-family: 'Archivo', sans-serif;
  text-align: center;
  font-size: 10vh;
  padding-top: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

/* BIRTHDAY */
h3 {
  font-size: 3vh;
  color: white;
  font-weight: normal;
  text-align: center;
  margin-top: -50px;
  padding: 0;
  line-height: 0px;
}

/* SIGN */
h4 {
  font-size: 15px;
  color: #e0e0ca;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  padding-bottom: 0px;
}

.Traits {
  font-size: 1.8vh;
  color: #e0e0ca;
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 50px;
  padding-top: 0px;
}

/* HOVER */
.Edvard:hover, .GeorgesSeurat:hover {
  color: white;
  background-color: #7811d9;
  transition: 0.8s;
}

.Caravaggio:hover {
  color: white;
  background-color: #ed47ae;
  transition: 0.8s;
}

.Michelangelo:hover {
  color: white;
  background-color: #81d433;
  transition: 0.8s;
}

.MarcChagall:hover, .LaszloMoholyNagy:hover {
  color: white;
  background-color: #e3e3e3;
  transition: 0.8s;
}

.Basquiat:hover, .HenriMatisse:hover, .PaulCezanne:hover {
  color: white;
  background-color: #736748;
  transition: 0.8s;
}

.VincentvanGogh:hover, .LeonardodaVinci:hover {
  color: white;
  background-color: #e81c1c;
  transition: 0.8s;
}

.ManRay:hover {
  color: white;
  background-color: olive;
  transition: 0.8s;
}

.ClaudeMonet:hover, .PabloPicasso:hover, .JohannesVermeer:hover, .GeorgiaOKeeffe:hover, .PaulSignac:hover {
  color: white;
  background-color: black;
  transition: 0.8s;
}

.AndyWarhol:hover, .MarcelDuchamp:hover {
  color: white;
  background-color: silver;
  transition: 0.8s;
}

.SalvadorDali:hover {
  color: white;
  background-color: green;
  transition: 0.8s;
}


